# PyCharm / IntelliJ
.idea/

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Data artifacts (do not version data)
data/raw/*
data/processed/*
data/embeddings/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/embeddings/.gitkeep
